<div ng-hide="loading">
    <h3>LOADING . . .</h3>
</div>

<div ng-show="loading">
    <p id="pageHeader">Add Issue</p>
    <form ng-controller="projectsController">

        <label for="title"><b>Title</b></label>
        <input type="text" id="title" ng-model="issue.Title"/>

        <label for="description"><b>Description</b></label>
        <textarea id="description" ng-model="issue.Description"></textarea>

        <label for="project"><b>Project</b></label>
        <select id="project"
                ng-options="currentProject.Name for currentProject in allProjects"
                ng-model="issue.project"
                ng-change="updateProject()">
        </select>

        <label ng-if="issue.project" for="priority"><b>Priority</b></label>
        <select ng-if="issue.project" id="priority" ng-model="issue.PriorityId">
            <option ng-repeat="priority in priorities" value="{{priority.Id}}" >{{priority.Name}}</option>
        </select>

        <label for="asignee"><b>Asignee</b></label>
        <select id="asignee"
                ng-options="user.Username for user in allUsers"
                ng-model="issue.user">
        </select>
        
        <label for="labels"><b>Labels</b> (comma separated) : </label>
        <input type="text" id="labels" ng-model="issue.AllLabels" ng-value="issue.AllLabels"/>
        <label for="date"><b>DueDate</b></label>
        <input type="date" id="date" ng-model="issue.DueDate" ng-value="project.AllPriorities"/>
        <button class="viewButton" ng-click="createIssue(issue)">Create Issue</button>
    </form>
</div>