<div ng-hide="loading">
    <h3>LOADING . . .</h3>
</div>

<div ng-show="loading">
    <p id="pageHeader">New Project</p>
    <form>
        <label for="name">Name</label>
        <input type="text" id="name" ng-model="project.name" required/>

        <label for="description">Description</label>
        <input type="text" id="description" ng-model="project.description" required/>

        <label for="projectKey">ProjectKey</label>
        <input type="text" id="projectKey" ng-model="project.projectKey" required/>

        <label for="projectLeader">projectLeader</label>
        <select id="projectLeader"
                ng-options="user.Username for user in users"
                ng-model="project.Lead">
        </select>

        <label for="priorities">Priorities (separated by comma)</label>
        <input type="text" id="priorities" ng-model="project.priorities" />

        <label for="labels">Labels (separated by comma)</label>
        <input type="text" id="labels" ng-model="project.labels" />

        <button type="button" ng-click="addProject(project)">Add Project</button>
    </form>
</div>