<div ng-hide="loading">
    <h3>LOADING . . .</h3>
</div>

<div ng-show="loading">
    <p id="pageHeader">Edit Project</p>
    <form ng-controller="projectsController">

        <label for="name"><b>Name</b></label>
        <input type="text" id="name" ng-model="project.Name" ng-value="project.Name"/>

        <label for="description"><b>Description</b></label>
        <input type="text" id="description" ng-model="project.Description" ng-value="project.Description"/>

        <label for="projectLeader"><b>Project Leader</b></label>
        <select id="projectLeader"
                ng-options="user.Username for user in users"
                ng-model="project.Lead">
        </select>

        <label for="labels"><b>Labels</b> (comma separated) : </label>
        <input type="text" id="labels" ng-model="project.AllLabels" ng-value="project.AllLabels"/>

        <label for="priorities"><b>Priorities</b> (comma separated) : </label>
        <input type="text" id="priorities" ng-model="project.AllPriorities" ng-value="project.AllPriorities"/>

        <button class="viewButton" ng-click="editProject(project)">Edit</button>
    </form>
</div>