<div ng-hide="loading">
    <h3>LOADING . . .</h3>
</div>

<div ng-show="loading">
    <p id="pageHeader">Project page</p>
    <h4>{{project.Name}}</h4>
    <a href="#" id="a">Edit</a>
    <a href="#" id="b">Add Issue</a>
    <p>ProjectKey: {{project.ProjectKey}}</p>

    <form>
        <label for="name"><b>Name</b></label>
        <input type="text" id="name" ng-model="project.name" value="{{project.Name}}"/>
        <br>
        <label for="description"><b>Description</b></label>
        <input type="text" id="description" ng-model="project.description" value="{{project.Description}}"/>
        <br>
        <label for="projectLeader"><b>LeadId</b>({{project.leadId}}) </label>
        <select  id="projectLeader" ng-model="project.leadId">
            <option  value="{{user.Id}}" ng-repeat="user in users">{{user.Username}}</option>
        </select>
        <br>
        <label for="priorities">Priorities (separated by comma)</label>
        <input type="text" id="priorities" ng-model="project.priorities" />
        <br>
        <button type="button" ng-click="addProject(project)">Add Project</button>
    </form>
</div>
