.menu{
    padding: 7px
}

.menu ul
{
    white-space: nowrap;
    padding: 10px;
}

.menu li
{
    display: inline;
}
.menu a{
    background-color: green;
    border-radius: 12px;
    border: 1px solid blue;
    padding: 15px;
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-size: 2em;
}

.menu a:hover{
    background-color: lightseagreen;
}

.project-header{
    display: flex;
    margin: 10px;
}
.project-header h3{
    margin: 0 5px;
}

#addNewProject{
    background-color: green;
    border-radius: 12px;
    border: 1px solid blue;
    padding: 15px;
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-size: 2em;
}

#pageHeader{
    background-color: darkseagreen;
    padding: 10px;
}

.viewButton{
    background-color: lightblue;
    border-radius: 9px;
    color: whitesmoke;
    border-color: gray;
    padding: 0px 10px;
}

#labels{
    display: inline-block;
    margin: 2px;
}

#priorities{
    display: inline-block;
    margin: 2px;
}