.menu{
    padding: 7px
}

.menu ul
{
    white-space: nowrap;
    padding: 10px;
}

.menu li
{
    display: inline;
}
.menu a{
    background-color: green;
    border-radius: 12px;
    border: 1px solid blue;
    padding: 15px;
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-size: 2em;
}

.menu a:hover{
    background-color: lightseagreen;
}

.project-header{
    display: inline-flex;
}