<div ng-hide="loading">
    <h3>LOADING . . .</h3>
</div>

<p id="pageHeader">Edit Issue</p>

<div ng-show="loading">

    <form ng-controller="issueController">

        <label for="title"><b>Title</b></label>
        <input type="text" id="title" ng-model="issue.Title" ng-value="issue.Title"/>

        <label for="description"><b>Description</b></label>
        <input type="text" id="description" ng-model="issue.Description" ng-value="issue.Description"/>

        <label for="dueDate"><b>Due Date</b></label>
        <input type="date" id="dueDate" ng-model="issue.DueDate" ng-value="issue.DueDate"/>

        <label for="priorities"><b>Priorities</b></label>
        <select id="priorities"
                ng-options="priority.Name for priority in issue.priorities"
                ng-model="issue.Priority">
        </select>

        <label for="AssigneeId"><b>Assignee ID</b></label>
        <select id="AssigneeId"
                ng-options="user.Username for user in users"
                ng-model="issue.Assignee">
        </select>

        <button class="viewButton" ng-click="editIssue(issue)">Edit</button>
    </form>
</div>