<div ng-hide="loading">
    <h3>LOADING . . .</h3>
</div>

<div ng-show="loading">
    <form ng-controller="projectsController">
        <p id="pageHeader">Issue page</p>
        <h4>{{issue.IssueKey}}</h4>
        <button class="viewButton"><a href="#/projects/{{project.Id}}/edit">Edit</a></button>

        <label for="title"><b>Title</b></label>
        <input type="text" id="title" ng-value="issue.Title"/>
        <br>

        <label for="description"><b>Description</b></label>
        <input type="text" id="description" ng-value="issue.Description"/>
        <br>

        <label for="assigneeId"><b>AssigneeId</b> (current ID: {{issue.Assignee.Id}})</label>
        <input type="text" id="assigneeId" ng-value="issue.Assignee.Username"/>
        <br>

        <label for="priorityId">PriorityId</label>
        <input type="text" id="priorityId" ng-value="issue.Priority.Name"/>
        <br>

        <label for="dueDate">DueDate</label>
        <input type="text" id="dueDate" ng-value="issue.DueDate"/>
        <br>
        <p>Author: {{issue.Author.Username}}</p>
        <p>Project: {{issue.Project.Name}}</p>
        <p>Statut: {{issue.Status.Name}}</p>
        <p>Labels: {{AllLabels}}</p>

        <label for="statuses">Avaiable Statuses: </label>
        <p id="statuses" ng-repeat="status in issue.AvailableStatuses">{{status.Name}}<button ng-click="changeStatus(status.Id)">Change</button> </p>
        <br>
    </form>
</div>