<div ng-hide="loading">
    <h3>LOADING . . .</h3>
</div>

<div ng-show="loading">
    <p id="pageHeader">Issue page</p>

    <div class="page-controller">
        <h4>{{issue.IssueKey}}</h4>
        <a class="greenButton" href="#/issues/{{issue.Id}}/edit">Edit</a>
    </div>

    <form ng-controller="projectsController">

        <label for="title"><b>Title</b></label>
        <input type="text" id="title" ng-value="issue.Title"/>

        <label for="description"><b>Description</b></label>
        <input type="text" id="description" ng-value="issue.Description"/>

        <label for="assigneeId"><b>AssigneeId</b> (current ID: {{issue.Assignee.Id}})</label>
        <input type="text" id="assigneeId" ng-value="issue.Assignee.Username"/>

        <label for="priorityId"><b>PriorityId</b> (current ID: {{issue.Priority.Id}})</label>
        <input type="text" id="priorityId" ng-value="issue.Priority.Name"/>

        <label for="dueDate"><b>DueDate</b></label>
        <input type="text" id="dueDate" ng-value="issue.DueDate"/>

        <p>Author: {{issue.Author.Username}}</p>
        <p>Project: {{issue.Project.Name}}</p>
        <p ng-model="status">Statut: {{issue.Status.Name}}</p>
        <p>Labels: {{AllLabels}}</p>
    </form>

    <div id="status-controller" ng-if="issue.Status.Name !== 'Closed'">
        <p>Avaiable Statuses: </p>
        <p>-----Closed
            <button class="greenButton" ng-click="changeStatus(1)">Change</button>
        </p>
        <p ng-if="issue.Status.Name !== 'StoppedProgress'">-----StoppedProgress
            <button class="greenButton" ng-click="changeStatus(4)">Change</button>
        </p>
        <p ng-if="issue.Status.Name !== 'InProgress'">-----InProgress
            <button class="greenButton" ng-click="changeStatus(3)">Change</button>
        </p>
    </div>

    <div class="comments" ng-repeat="comment in comments">
        <p>{{comment.Author.Username}} ---- {{comment.CreatedOn}}</p>
        <p>{{comment.Text}}</p>
    </div>

    <div class="add-comment" >
        <label for="text"><b>Text: </b></label>
        <textarea id="text" ng-model="comment"></textarea>
        <button class="greenButton" ng-click="addComment(comment)">Add Coment</button>
    </div>
</div>