<p id="pageHeader">Dashboard</p>
<h2>Affiliated Projects</h2>
<ul id="affiliatedProjects">
    <li ng-repeat="issue in affiliatedIssues"><a href="#/projects/{{issue.Project.Id}}">{{issue.Project.Name}}</a></li>
    <li ng-repeat="project in affiliatedProjects"><a href="#/projects/{{project.Id}}">{{project.Name}}</a></li>
</ul>
<table id="myProjects">
    <thead>
        <tr>
            <td>Title</td>
            <td>Description</td>
            <td>Project</td>
            <td>Due Date</td>
        </tr>
    </thead>

    <tbody ng-repeat="issue in myIssues">
        <tr>
            <td><a href="#/issues/{{issue.Project.Id}}">{{issue.Title}}</a></td>
            <td><a href="#/issues/{{issue.Project.Id}}">{{issue.Description}}</a></td>
            <td><a href="#/issues/{{issue.Project.Id}}">{{issue.Project.Name}}</a></td>
            <td><a href="#/issues/{{issue.Project.Id}}">{{issue.DueDate}}</a></td>
        </tr>
    </tbody>
</table>