<div ng-hide="loading">
    <h3>LOADING . . .</h3>
</div>

<div ng-show="loading">
    <p id="pageHeader">New Project</p>
    <label for="name">Name</label>
    <input type="text" name="name" ng-model="issue.name" />
    <br>
    <label for="description">Description</label>
    <input type="text" name="description" ng-model="issue.description" />
    <br>
    <label for="projectKey">ProjectKey</label>
    <input type="text" name="projectKey" ng-model="issue.projectKey" />
    <br>
    <label for="leadId">LeadId</label>
    <input type="text" name="leadId" ng-model="issue.leadId" />
    <br>
    <label for="priorities">Priorities (separated by comma)</label>
    <input type="text" name="priorities" ng-model="issue.priorities" />
    <br>
    <button type="button" ng-click="addIssue(issue)">Add Issue</button>
</div>